<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sayantanbanerjee.tmdbclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".presentation.App"
        android:allowBackup="true"
        android:icon="@drawable/iconmovie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconmovie"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.artist.ArtistActivity"
            android:label="@string/artistPopular" />
        <activity
            android:name=".presentation.tvshow.TvShowActivity"
            android:label="@string/tvshowPopular" />
        <activity
            android:name=".presentation.movie.MovieActivity"
            android:label="@string/moviePopular" />
        <activity android:name=".presentation.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
